{{ define "main" }}

{{ partial "page-title.html" . }}

<section id="blog-full-width">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ range .Data.Pages }}
                <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms" style="border: 2px; border-style: solid; padding:5px; margin: 5px;">
                    
                    <div class="blog-post-image" align=center>
                        <a href="{{ .Permalink }}">
                             {{ with .Params.smallImage }}<img class="img-fluid" src="{{ . | absURL }}" alt="post-image"/>{{ end }}
                        </a>
                    </div>
                    <div class="blog-content">
                        <h2 class="blogpost-title" align=center>
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </h2>
                        </br>
                        <p>
                            {{ .Summary }}
                        </p>
                        <div align=right>
                        {{ with .Permalink }}<a href="{{ . }}" class="btn btn-dafault btn-details hvr-bounce-to-right">Continue Reading</a>{{ end }}
                        </div>
                    </div>
                </article>
                {{ end }}
            </div>
        </div>
    </div>
</section>

{{ partial "cta.html" . }}

{{ end }}